<nav id="navbar">
  <div class="nav-container">
    <a href="index.html" class="logo">
      <img src="data/logo/Logo_assistara_final.svg" alt="Assistra Logo" class="logo-img">
    </a>
    <ul class="nav-links" id="navLinks">
      <li><a href="index.html" class="nav-link" data-page="index">Start</a></li>
      <li><a href="leistungen.html" class="nav-link" data-page="leistungen">Leistungen</a></li>
      <li><a href="ueber-uns.html" class="nav-link" data-page="ueber-uns">Über uns</a></li>
      <li><a href="kontakt.html" class="nav-link" data-page="kontakt">Kontakt</a></li>
    </ul>
    <div class="nav-right">
      <a href="kontakt.html" class="cta-btn">Jetzt anfragen</a>
      <div class="menu-toggle" id="menuToggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</nav>
